body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set background color transition for these elements*/
.set label,
.set label:hover,
.field .vote input[type=radio]:checked + label,
.action input[type=button]:hover, .action input[type=submit]:hover, 
.action button:hover,
.field .vote input[type=radio] + label,
.field .vote input[type=radio] + label:hover,
.addRep a,
.addRep a:hover
 {    
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.value.workoutName .actions a,
.value.workoutName .actions a:hover,
.metric .removeRep a,
.metric .removeRep a:hover {
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

input[type=text],
select,
textarea {
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 0;
}

input[type=text] {
    font-size:1.2em;
    color: #222;
}

input[type=text]:focus, select:focus, textara:focus{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    outline: 0;
}



.form {
    display: none;
    margin-bottom: 10px;
}

.form label {
    font-size: 18px;
    font-weight: normal;    
    color: #111;
}

.form .label {
    padding-left: 0;    
    text-align: left;
    word-break: break-word;
    white-space: normal;
}

.form .field {
    width: 100%;
    max-width: 640px;
    margin-bottom: 10px;
}
.form .field::after {
    content: "";
    display: block;
    clear: both;
}
.form .set {
    float: left;
}
.form .vote.vote-2 .set {
    width: 50%;
}
.form .vote.vote-2 .set:nth-child(2) {
    width: 49%;
    margin-left: 1%;
}

.form .vote input[type=radio] {
    display: none;
    margin-right: 7px;
}

.field .vote input[type=radio] + label {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    text-align: center;
    font-size: 16px;   
    width: 100%;  
    margin-bottom: 0px; 
}
.field .vote input[type=radio] + label:hover {
    background-color: #ccc;
}
.field .vote input[type=radio]:checked + label {   
    background-color:rgb(66, 184, 221);
    color: #fff;    
}

.field input[type=text] {
    width: 100%;
}

.field input[type=text].valid {
    border-color: rgb(28, 184, 65);
}
.field input[type=text].error {
    border-color: rgba(255,0,0,0.5)
}

.action input[type=button], .action input[type=submit], .action button {
    padding: 10px;
    border: 0;
    width: 200px;
    max-width: 640px;
    background-color: rgb(28, 184, 65);
    color: #fff;
    font-size: 16px;       
    margin-bottom: 0px;       
    margin-top: 10px;
}
.action input[type=button]:hover, .action input[type=submit]:hover, .action button:hover {
    background-color: #106e27;
    cursor: pointer;
}
.action input[type=button]:disabled, .action input[type=submit]:disabled, .action button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.field.newset {
    margin-bottom: 0px;
}
.value.workoutName input[type=text] {
    width: 79%;
}
.value.workoutName .actions {
    float: right;
    margin-top: 3px;
}
    .value.workoutName .actions:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }

.field.addRep {    
    margin-bottom: 30px;
}
.field.addRep em {
    text-align: left;
}

.addRepBtn {
    text-align: center;
}
.addRepBtn a {
    color: #267249;
    font-size: 18px;
    display: block;
    background-color: rgba(208, 236, 172, 0.7);
    padding: 10px 0px;
    width: 200px;
    float: right;
}
    .addRepBtn a:hover {
        color: #267249;
        background-color: rgba(208, 236, 172, 1);
    }
    .addRepBtn a:hover, .addRepBtn a:focus {
        text-decoration: none;
    }

.value.workoutName .toggler a {
    margin-right: 10px;
}
.value.workoutName a,
.metric .removeRep a {
    color: #999;
    font-size: 26px;
}
    .value.workoutName a.glyphicon-remove-circle, .metric .removeRep a {
        color: #EA2E2E;
    }
        .value.workoutName a.glyphicon-remove-circle:hover, .metric .removeRep a:hover {
            color: #CE0D0D;
        }
    .value.workoutName a:hover {
        color: #999;
    }
    .value.workoutName a:hover,
    .value.workoutName a:focus,
    .metric .removeRep a:hover,
    .metric .removeRep a:focus {
        text-decoration: none;
    }

ol.metric {
    list-style: none;
    padding-left: 0px;
}
ol.metric li {
    padding: 10px 0px 0px 10px;
    border-bottom: 1px solid #D0ECAC;
    border-left: 15px solid #D0ECAC;
}
.metric li:after {
    content: "";
    display: block;
    height: 10px;
    clear: both;
}
    .metric .vote {
        margin-top:5px;
    }

    .metric .weightSet input[type=text]{
        float: left;
    }
    .metric .weightSet .rep {
        width: 70px;
        margin-right: 2px;
    }
    .metric .weightSet .weight {
        width: 35%;
    }
    .metric .weightSet:after {
        content: "";
        display: block;
        clear: both;
        height: 0px;
    }
    .metric.distance input[type=text],
    .metric.rep input[type=text] {
        width: 50%;
    }

    
.timeInput,
.weightSet {
    display: inline-block;
}
.weightSet {
    width: 100%;
}
.timeInput + .removeRep,
.metric.rep .removeRep,
.weightSet .removeRep,
.metric .removeRep {
    display: inline-block;
    vertical-align: middle;
    float: right;    
}

.timeInput input[type=text] {
    width: 100px;
    display: inline;
}
.timeInput input[type=text] + span {
    font-weight: bold;
    font-size: 24px;
}

.errorMsg {
    display: block;
    clear: both;
    float: left;
    color: #222;    
    background-color: rgba(255,0,0,0.2);
    padding: 5px 10px 5px 5px;
    border-left: 7px solid rgba(255,0,0,0.3);
    margin-top: 5px;
}
    .errorMsg::after {
        content: "";
        display: block;
        clear: both;
    }

.contextLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    padding: 0px 10px;
}
    .contextLinks li {
        border-bottom: 1px solid #ddd;
        width: 100%;
        display: block;
        padding: 10px 0px;
    }    
    .contextLinks li:last-child {    
        border-width: 0px;        
    }
    .contextLinks a {
        display: block;
        width: 100%;
    }

.workoutPicker ul {
    list-style: none;  
    margin: 0;
    margin-bottom: 10px;
    padding: 0;      
}
    .workoutPicker ul:after {
        content: "";
        height: 0;
        display: block;
        clear: both;

    }
    .workoutPicker ul li {
        width: 100%;
    }    
        .workoutPicker ul a {
            color: #222;
            display: block;
            text-align: left;
            background-color: #dedede;
            margin: 5px;
            padding: 10px;
        }
            .workoutPicker ul a:hover {
                background-color: #eee;
                text-decoration: none;
            }


.pagination:before, .pagination:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

.workoutPicker .pagination {
    display: block;
    text-align: left;
}

    .pagination .page {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 3px;
        min-width: 40px;
        text-align: center;
    }
    .pagination .page.curr {
        border: 2px solid #999;
        background-color: #eee;
    }
    .pagination a, .pagination a:hover, .pagination a:focus {
        text-decoration: none;
    }
    .pagination .navButtons {
        font-size: 24px;        
    }
    .pagination .navButtons:after {
        content: "";
        height: 0;
        display: block;
        clear: both;
    }
    .pagination .navButtons a {
        display: inline-block;
        margin-right: 10px;
    }
        
        .pagination .navButtons a {
            color: #666;
        }
            .pagination .navButtons a[state=disabled] {
                color: #ddd;
            }
::-webkit-input-placeholder {
   color: #999;
}
:-moz-placeholder { /* Firefox 18- */
   color: #999;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
}
:-ms-input-placeholder {  
  color: #999 !important; /*doesn't work in IE otherwise because the input element has a colour applied to it*/
}